<div class="container my-2">
    <div class="grid grid-cols-12 gap-3">

        <div class="col-span-3 lg:col-span-1">
            <div class="w-[3rem] h-[3rem]">
                <img class="w-full h-full rounded-full" src="https://cdn.pixabay.com/photo/2020/05/08/04/26/girls-5144061_640.jpg" alt="">

            </div>
        </div>
        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-2">
                <div>
                    <p class="font-semibold text-lg">Saini Gi</p>
                    <p class="opacity-70">Dec 3, 2023</p>
                </div>
                <div>
                    star
                </div>
                <p>
                    nice product, i like white shirt!
                </p>
            </div>
    
        </div>
    </div>
</div>